body{
  background-color: rgb(136, 136, 136);
}

  div{
    color: rgb(27, 27, 253);
  }
  .tocenter{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
  }
  .scaled{
    transform: scale(1.10);
    width: 30%;
  }
  